#containerDashboard {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@media (max-width:767px)  {
  #containerDashboard button{
    font-size: 12px;
  }
}

@media (min-width:1028px)  {
  #containerDashboard button{
    font-size: 18px;
  }
}

