#mainLayout {
    /* background-color: #ddd; */
    /* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,166,219,1) 100%); */
    display: flex;
    flex-direction: column;
    justify-content: top;
}

#mainTitle{
    background-color: lightblue;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    min-height: 50px;
    text-align: center;
    padding-top:12px;
    margin-bottom: 10px;
}

#mainTitleForm{
    background-color: yellow;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    min-height: 50px;
    text-align: center;
    padding-top:12px;
}

#pageContainer{
    min-height: 100vh;
    position: relative;
    /* background:url('../images/layered-waves-green-rev.svg'); */
    background: #f2f5fd;
    /* Lestari */
    background-image: linear-gradient(180deg, #398348  30vh, #f2f5fd 25vh);
    /* Abadi */
    background-image: linear-gradient(180deg, #468fb8  30vh, #f2f5fd 25vh);
    /* Sejati */
    background-image: linear-gradient(180deg, #a22425  27vh, white 25vh);
    background-size: cover;
    overflow-y: auto;
    transform:scale(1,-1) translate(0,-100);   
}

nav{
    /* // lestari */
    box-shadow: 5px 5px 5px 0px rgba(14, 103, 32,0.5);
    /* // abadi */
    box-shadow: 5px 5px 5px 0px rgba(70, 143, 184,0.5);
    /* // sejati */
    box-shadow: 5px 5px 5px 0px rgba(162, 36, 37,0.5);

    color: white;
    /* background-color:black; */
}

#pageContent{
    /* padding: 20px; */
}

.listContainer{
    max-height: 400px;
    overflow-y: scroll;
}

.form-error{
    font-style: italic;
    color:rgb(255,50,50);
}

@media (min-width:768px) {
    #pageContent{
        /* padding: 20px; */
    }
}

@media (max-width:500px) {
    /* #pageContainer{
        padding:10px;
    } */

    #pageContent{
        /* padding: 15px; */
    }

    .form-error{
        font-size: 12px;
    }

}